###> Composer ###
/composer.lock
/vendor/
###< Composer ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
.phpunit.result.cache
/coverage.xml
###< phpunit/phpunit ###

###> Jetbrains ###
/.idea/
###< Jetbrains ###
